body{
    font-family: sans-serif;
}
h1{
    font-weight: 800;
    font-size:35px;
    margin-left: 25px;
}
.todo{
    background-color: rgb(180, 219, 255);
    list-style-image: url(unchecked_16.png);
}
.important{
    background-color: rgb(150, 180, 215);
    list-style-image: url(unchecked_16.png);
}
.yes{
    background-color: rgb(220,210,210);
    list-style-image: url(checked_16.png)
}
li{
    padding: 10px;
    background-color: blue;
    list-style-position: inside;
    padding-right: 30px;
    text-indent: 15px;
}
.mark{
    padding-left: 20px;
    color: darkred;
    font-size:20px;
    font-weight: 800
}